.custom-navbar {
  background-color: #15191c;
  padding:9px 0px;
  padding-left: 7px;
  padding-right: 7px;
  width: 100%;
  border-radius: 15px;
  border: 3px solid #262a2d;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 2.9px 10px;
  
}

.logo-img {
  width: 150px;
  height: 36.33;
}

.hamburger {
  background: none;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  display: none;
}

.navbar-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdown {
  position: relative;
  font-size: 14px;
}

.dropdown-button {
  background-color: #1d2328;
  color: white;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  min-width: 200px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #262a2d;
}

.arrow {
  margin-left: 0.5rem;
}

.dropdown-menu {
  position: absolute;
  top: 110%;
  left: 0;
  background-color: #1d2328;
  list-style: none;
  padding: 0.5rem 0;
  border-radius: 10px;
  z-index: 100;
  width: 100%;
   border: 3px solid #262a2d; 
}

.dropdown-item {
  background: none;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.dropdown-item.active {
  background-color: #444;
}

.check {
  float: right;
}

.navbar-right {
  display: flex;
  gap:30px;
  align-items: center;
  float: inline-end;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.upgrade-btn {
  background-color: #1d2328;
  color: white;
  border-radius: 10px;
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border: 3px solid #262a2d; 
}

.highlight-text {
  color: white;
}

.auth-buttons {
  display: flex;
  gap: 20px;
  height: 40px;
}

.signin-btn {
  background:#1d2328; 
  color: white;
  border-bottom: 1.5px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 10px;
  padding: 9px 25px;
  cursor: pointer;
  font-size: 14px;
  outline-style: solid;
  outline-color: #262a2d;
  outline-width: 3px;
  outline: 3px solid #262a2d !important;
  outline-offset: 0; 
}

.signin-btn:active {
  border-bottom: none;
}

.signup-btn {
/* background: linear-gradient(90deg, #2a3a60 0%, #0d1117 100%);
box-shadow: 0 0 6px rgba(32, 64, 128, 0.5); */
/* background: linear-gradient(90deg, #1f2a48 0%, #141820 100%); */
background: linear-gradient(90deg, #1f2a48 0%, #141820 100%);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 9px 25px;
  cursor: pointer;
  font-size: 14px;
  outline: none;
}

.navbar-hamburger-container {
  display: none;
}

.dropdown-menu {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 99999 !important;
 
}
.navbar-left {
  position: relative !important; 
}
.credit-show-con{
  background-color: #1d2328;
  color: white;
  border-radius: 10px;
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border: 3px solid #262a2d; 
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar-hamburger-container {
    display: block;
  }

  .navbar-content {
    flex-direction: column;
    width: 100%;
    display: none;
    margin-top: 1rem;
  }

  .content.show {
    display: flex;
  }

  .navbar-right {
    width: 50%;
    justify-content: end;
  }



  .dropdown-menu {
    position: static;
    width: 100%;
  }

  .dropdown-button {
    width: 100%;
  }
}

@media (max-width: 1260px) {
  .upgrade-btn {
    display: none;

  }

}

.content {

  display: none;

}

.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

.hamburger svg {
  width: 24px;
  height: 24px;
  rotate: -180deg;
}

.content-inner {
  width: 100%;
  position: absolute;
  height: 89.2vh;
  padding: 0px 15px;
  backdrop-filter: blur(10px);
  background-color: hsl(0deg 0% 0% / 70%);
}

.baby-text-container {
  padding: 15px 10px;
  border-bottom: 1px solid #ffffff24;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.baby-text {
  font-size: 16px;
  margin: 0px;
  color: white;
}
.navbar-main-container{
  display: flex;
  justify-content:center;
  padding: 13px;
}
.profile-credit-container{
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile-btn{
  background-color: #1d2328;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 5px;
  border: 3px solid #262a2d;
}