$black: #000; 
$white: #fff;
$background-color: #15191c;
$border-color : #2c2f33;
$outer-background: #1d2328;
$signup-gradiatent-color: linear-gradient(90deg, #1f2a48 0%, #141820 100%);
$signin-background: #bb08ff;
$button-gradiatent-color: linear-gradient(90deg, #3231d3 0%, #443e4d 100%);