@use '../abstracts/variables' as *;

::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: $outer-background;
    margin: 20px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}


.right-main-changeHair {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-top: 10px;
}

.Gender-hading {
    color: $white;
    margin-top: 17px;

}

.tabs-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    column-gap: 60px;
}

.tab-button-1-chageHairstyle,
.tab-button-2-chageHairstyle {
    width: 30%;
    padding: 10px;
    font-size: 0.8rem;
    background-color: transparent;
    color: $white;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.active-tab1 {
    border-bottom: 2px solid #c589e4;
}

.tab-images-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 80px;
}

.left-container-changeHair {
  height: calc(100dvh - 110px);
  overflow-y: scroll;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  width: 421px;
  min-width: 421px;
  border-radius: 15px;
  border: 3px solid $border-color;
  // overflow: hidden;
  padding: 15px;
}

.tab1-inner-1-content {
    display: flex;
    width: 25%;
    padding: 1.5%;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 0.8rem;
}

.tab1-inner-1-content p {
    color: #fff;
}

.tab-image {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid transparent;
    transition: all 0.3s ease;
}

.tab1-inner-1-content.selected .tab-image {
    border: 3px solid transparent;
    background: linear-gradient(#000, #000) padding-box,
                linear-gradient(90deg, #3231d3 0%, #443e4d 100%) border-box;
}

.tab-image:active {
    transform: scale(0.97);
}


@media (max-width: 768px) {
    .left-main-changeHair {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    .left-container-changeHair {
        width: unset;
        min-width: unset;
    }

    .right-main-changeHair {
        display: none;
    }
}