@use '../abstracts/variables' as *;

.right-main-creidt-container {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 3px solid $border-color;
    margin-top: 15px;
    justify-content: center;
}

.right-main-creidt-container-2{
    background-color: #15191c;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 3px solid #2c2f33;
    // overflow: hidden;
    margin-top: 15px;
    justify-content: center;
}

.my-credits-container {
    color: #ecedee;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
}

.credit-and-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-top: 0px;

    .buy-credit-button-container {
        display: flex;
        justify-content: space-between;
        background-color: $background-color;
        color: $white;
        border: 3px double transparent;
        background-image: linear-gradient(#242424, #242424), linear-gradient(90deg, #7762ff, #c589e4, #fc6590);
        background-origin: border-box;
        background-clip: content-box, border-box;
        border-radius: 50px;
        font-size: 14px;
        cursor: pointer;
        border-width: 2px;
    }

    .buy-credit-button {
        padding: 8px 13px;
        border-radius: 50px;
        font-size: 14px;
        background-color: $outer-background;
        border: none;
        color: $white;
    }

    .credit-icon-main-container {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .staricon {
        width: 30px;
    }

    .credit-text {
        font-size: 20px;
        font-weight: bold;
        color: $white;
    }

}

.credit-history-dropdown {
    background-color: $outer-background;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid $border-color;
    color: $white;
    padding: 5px;
}

.buy-credit-dropdown option {
    background-color: #15191c;
    color: #ffffff;
}

.credit-history-and-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    .credit-text {
        font-size: 20px;
        font-weight: bold;
        color: $white;
    }
}

.table-credit-history {
    color: $white;
    align-items: center;
}

.table-container {
    margin-top: -25px;
    padding: 15px;
    align-items: center;
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

table {
    width: 100%;
}


.pagination-button {
    margin: 2px 5px;
    width: 40px;
    padding: 2.5px 10px;
    background-color: #f0f0f0;
    color: #000;
    border: 0px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-button.active {
    background: #ffffff;
    color: #fff;
}

.pagination-container {
    margin-bottom: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.pagination-button-prev,
.pagination-button-next {
    margin: 2px 5px;
    width: 30px;
    background-color: $outer-background;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.credits-back-arrow {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 10px;
    display: none;
}

.my-custom-table {
    border-radius: 8px;
    overflow: hidden;
}

.my-custom-table .rdt_TableHead {
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid $border-color !important;
}

.my-custom-table .rdt_TableRow {
    color: #ffffff !important;
    border-bottom: 1px solid $border-color !important;
}

.my-custom-table .rdt_TableRow:hover {
    background-color: $outer-background;
}

.my-custom-table .rdt_Pagination {
    padding: 8px;
}

.kngfZm svg {
    fill: #ffffff !important;
}

@media (max-width: 768px) {
    .credits-back-arrow {
        display: block;
    }

    .right-main-profile {
        width: 100%;
        min-width: 100%;
    }
    
    .right-main-creidt-container{
        margin-left: 0px;
    }
}