@use '../abstracts/variables' as *;

.image-history-container{
    // background-color: rgb(0, 136, 255);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    // justify-content: center;
}

.image-card{
    background-color: rgba(255, 255, 255, 0.311);
    width: 100px;
    border-radius: 5px;
}

.image-card:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;

}