@use '../abstracts/variables' as *;
.image-history-main-container {
    height: calc(100dvh - 115px);
    width: 100%;
    overflow-X: scroll;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid $border-color;
    border-radius: 15px;
    padding: 7px;
    background-color: $background-color;
    // overflow: hidden;
}

.image-history-container {
    column-count: 4;
    gap: 7px;
    width: 100%;
}

.image-card {
    display: inline-block;
    width: 100%;
    // margin-bottom: 7px;
    border-radius: 8px;
}

.image-card img {
    width: 100%;
    border-radius: 8px;
    display: block;
}

.image-card:hover{
    cursor: pointer;
}