@use '../abstracts/variables' as *;

.right-container {
    background-color: $background-color;
    border: 3px solid $border-color;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    color: $white;
}

.right-main-container {
    width: 100%;
    display: flex;

    .right-container {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;
        font-weight: bold;
        margin-left: 15px;
    }

}

.right-main-info-container {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    width: 650px;
    min-width: 650px;
    border-radius: 15px;
    border: 3px solid $border-color;
    overflow: hidden;
    padding: 15px;
    margin-top: 15px;

    .right-image-profile-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $white;
        width: 100%;
        border-radius: 15px;
    }

    .right-profile-info-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid $border-color;
        // padding: 15px;
        border-radius: 50%;
        background-color: $outer-background;
    }

    .right-profile-name {
        color: $white;
        margin-top: 15px;
        background-color: $outer-background;
        padding: 5px 9px;
        border-radius: 50px;
        border: 3px solid $border-color;
        cursor: pointer;
        font-size: 12px;
    }

    .right-profile-name:hover {
        background-color: $border-color;
    }
}

.profile-name {
    color: $white;
    font-size: 12px;
    font-weight: 700;
}

.name-and-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .edit-details-button {
        border-radius: 50px;
        padding: 5px 8px;
        font-size: 12px;
        background-color: $outer-background;
        border: 3px solid $border-color;
        color: $white;
    }
}

.right-name-container {
    margin-bottom: 16px;

    .right-name {
        color: $white;
        font-size: 16px;
    }
}

.divayder {
    width: 100%;
    height: 1px;
    background-color: $border-color;
    margin-bottom: 16px;
}

.edit-input {
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-bottom: 3px solid $border-color;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    color: $white;
    background-color: $outer-background;
}

.edit-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

.crop-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.crop-modal-content {
    background: #1e252c;
    border-radius: 12px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    color: #fff;
}

.close-crop {
    margin-top: 12px;
    background-color: #444;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
}

.close-crop:hover {
    background-color: #666;
}

.logout {
    background-color: $outer-background;
    color: $white;
    border: 1px solid $border-color;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    color: red;

}

:hover.logout {
    background-color: red;
    color: $white;

}

.password-modal {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.password-modal h3 {
    margin-bottom: 10px;
    color: #fff;
}

.password-modal-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.save-password-modal-buttons {
    width: 100%;
    background-color: $background-color;
    color: #fff;
    border: 3px solid $border-color;
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
}

.password-close-button {
    cursor: pointer;
    position: absolute;
    bottom: 67%;
    right: 31%;
    border: none;
    background-color: transparent;
}

.password-close-button img {
    width: 20px;
}

.password-input {
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-bottom: 3px solid $border-color;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    color: $white;
    background-color: $background-color;
}

.password-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}


@media (max-width: 768px) {
    .right-main-info-container {
        width: 100%;
        min-width: 100%;
    }

    .right-main-container{
        margin-left: 0px;
    }

    .right-container {
        margin-left: 0px;
    }
}