@use '../abstracts/variables' as *;

.right-container {
    background-color: $background-color;
    border: 3px solid $border-color;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    color: $white;
}

.right-main-container {
    width: 100%;
    display: flex;
    padding-left: 13px;
}

.right-main-info-container {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    width: 650px;
    min-width: 650px;
    border-radius: 15px;
    border: 3px solid $border-color;
    overflow: hidden;
    padding: 15px;
    margin-top: 15px;

    .right-image-profile-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $white;
        width: 100%;
        border-radius: 15px;
    }

    .right-profile-info-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid $border-color;
        padding: 15px;
        border-radius: 50%;
        background-color: $outer-background;
    }

    .right-profile-name {
        color: #a32bff;
        margin-top: 15px;
        font-weight: bold;
    }
}

.profile-name {
    color: $white;
    font-size: 12px;
    font-weight: 700;
}

.name-and-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .edit-details-button {
        border-radius: 50px;
        padding: 5px 8px;
        font-size: 12px;
        background-color: $outer-background;
        border: 3px solid $border-color;
        color: $white;
    }
}

.right-name-container {
    margin-bottom: 16px;

    .right-name {
        color: $white;
        font-size: 16px;
    }
}

.divayder{
    width: 100%;
    height: 1px;
    background-color: $border-color;
    margin-bottom: 16px;
}