.signin-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  color: #4a5568;
  margin-bottom: 0.4rem;
}

.form-group input {
  padding: 0.45rem;
  border-radius: 0.5rem;
  font-size:14px;
  border: none;
}

.form-group input:focus {
  outline: none;
}

.form-submit-btn {
  background-color: #3b82f6;
  color: white;
  padding: 0.5rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 25px;
}

.form-submit-btn:hover {
  background-color: #2563eb;
}

.form-footer {
  font-size: 0.875rem;
  color: #4a5568;
  text-align: end;
}

.forgot-link {
  
  font-weight: 600;
  cursor: pointer;
  align-items: end;
}
.signin-form h4{
  color: white;
  align-items: center;
  text-align: center;

}

.forgot-link:hover {
  color: #3b82f6;
  text-decoration: underline;
  text-underline-position: below;
}
