.popup-overlay-getimage {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-box-getimage {
    /* width: 35%; */
    height: 81%;
    background-color: rgb(26 29 31);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    
}

.inner-1-pop-getimage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.inner-2-pop-getimage {
    height: 70%;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    ;
}
.inner-3-pop-getimage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 35px;
}
.getimage-pop-close-btn{
    border-radius: 50%;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 7px 0px 7px;
}

.getimage-pop-download-btn{
   background:#1d2328; 
  color: white;
  border: 1.5px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 10px;
  padding: 9px 25px;
  cursor: pointer;
  font-size: 14px;
  outline-style: solid;
  outline-color: #262a2d;
  outline-width: 3px;
  outline: 3px solid #262a2d !important;
  outline-offset: 0; 
}
.getimage-pop-download-btn:active {
  border-bottom: none;
}



/* From Uiverse.io by JkHuger */ 
.installer {
  width: 200px;
  height: 40px;
}

.installer label {
  position: absolute;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.installer label input {
  display: none;
}

.installer label span {
  position: absolute;
  height: 40px;
  width: 200px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background: #3F8EFC;
  border-radius: 5px;
}

.installer label input:checked ~ span {
  background: #87E544;
  animation: downloadSuccess 3.1s ease;
}

.installer label span:after {
  content: 'DOWNLOAD';
  position: absolute;
  width: 80%;
  height: 100%;
  left: 10%;
}

.installer label input:checked ~ span:after {
  content: 'Thank you!';
  animation: downloadState 3s;
}

.installer label span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  background: rgba(255,255,255,.2);
}

.installer label input:checked ~ span:before {
  animation: downloadProgress 3s cubic-bezier(.67,.13,.1,.81);
}

@keyframes downloadSuccess {
  0%, 90% {
    background: #3F8EFC;
  }

  100% {
    background: #87E544;
  }
}

@keyframes downloadState {
  0%, 95% {
    content: 'DOWNLOADING...'
  }

  100% {
    content: 'Thank you for download!'
  }
}

@keyframes downloadProgress {
  0% {
    width: 5%;
    opacity: 1;
  }

  35% {
    width: 17%;
  }

  64% {
    width: 51%;
  }

  81% {
    width: 70%;
  }

  90% {
    width: 86%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}


.age-img{
  position: absolute;
  font-size: 100px;
  top: 50%;
  font-weight: 700;
  width: 100%;
  /* background: linear-gradient(180deg, blue 0%, #000000 21%); */
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 57px;
  color: rgba(38, 255, 0, 0.564);
}



.pop-pass-image-get{
   border-radius: 10px;
    /* width: 50%; */
    height: 100%;
    opacity: hidden;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    color: aqua;
}


.pop-pass-image-black{
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  pointer-events: none;
  ;
}


