.popup-overlay-getimage {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-box-getimage {
    /* width: 35%; */
    height: 81%;
    background-color: rgb(26 29 31);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.inner-1-pop-getimage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
}

.inner-2-pop-getimage {
    height: 70%;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-3-pop-getimage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 35px;
}
.getimage-pop-close-btn{
    border-radius: 50%;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 7px 0px 7px;
}

.getimage-pop-download-btn{
  background:#1d2328; 
  color: white;
  border: 1.5px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 10px;
  padding: 9px 25px;
  cursor: pointer;
  font-size: 14px;
  outline-style: solid;
  outline-color: #262a2d;
  outline-width: 3px;
  outline: 3px solid #262a2d !important;
  outline-offset: 0; 
}
.getimage-pop-download-btn:active {
  border-bottom: none;
}

.download-btn {
  height: 45px;
  width: 120px;
  cursor: pointer;
  background: white;
  border: none;
  background: #0000ff;
  border-radius: 30px;
  overflow: hidden;
  font-size: 20px;
}

.button-content {
  transform: translateY(-45px);
  transition: all 250ms ease-in-out;
}

.svg-container,
.text-container {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container .text {
  font-size: 17px;
  color: #fff;
  font-weight: 600;
  opacity: 1;
  transition: opacity ease-in-out 250ms;
}

.download-icon {
  height: 25px;
  width: 25px;
  fill: #fff;
  opacity: 0;
  transition: opacity ease-in-out 250ms;
}
  
.download-btn:hover .button-content {
  transform: translateY(0px);
}

.download-btn:hover .text {
  opacity: 0;
}

.download-btn:hover .download-icon {
  opacity: 1;
}

.download-btn:focus .download-icon {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.download-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pop-pass-image-get{
   border-radius: 10px;
    /* width: 50%; */
    height: 100%;
    opacity: hidden;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    color: aqua;
}

.pop-pass-image-get {
  position: relative; 
  display: inline-block;
}

.age-overlay {
  position: absolute;
  top: 49%;
  left: 0;
  width: 100%;
  height: 100%;
}

.pop-pass-image-black {
  width: 100%;
  height: 52%;
  object-fit: cover;
}

.age-img {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px black;
}



@media (max-width: 768px) {
  .popup-box-getimage{
    width: 100%;
  }
}




