.main-baby-genrartor {
    width: 100%;
    background-color: black;
    height: 89.2vh;
    display: flex;
}

.right-main-babyG {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.left-main-babyG-2 {
    /* width: 27.5%; */
    height: 100%;
    background-color: rgb(26 29 31);
    border: 1px solid rgb(92, 91, 91);
    display: flex;
    flex-direction: column;
    width: 421px;
    min-width: 421px;
    max-width: 421px;
    justify-content: space-between;
    width: 421px;
    min-width: 421px;
    max-width: 421px;
}

.inner-left-1-babyG {
    width: 100%;
    display: flex;
    padding: 15px;
    border-bottom: 1px solid rgb(92, 91, 91);
    color: white;
    font-weight: 900;
}

.inner-left-1-babyG h4 {
    font-size: 20px;
}

.inner-left-3-babyG-2 {
    width: 100%;
    display: flex;
    padding: 15px 10px;
    border-top: 1px solid rgb(92, 91, 91);
    color: white;
    /* flex-direction: column; */
}

.inner-1-for-left-3 p {
    font-size: 0.75rem;
}

.inner-2-for-left-3 {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: .5rem;
}

.baby-left-3-btn-1,
.baby-left-3-btn-2 {
    padding: .5625rem 0rem;
    width: 50%;
    color: white;
    background-color: rgb(63 63 70);
    border: none;
    border-radius: 50px;
    text-wrap: nowrap;
    font-size: 14px;
}

.baby-left-3-btn-2 {
    background-color: #a32bff;
    color: white;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.baby-left-3-btn-2-icon {
    /* width: 29%; */
    width: 70px;
    background-color: rgb(130 34 204);
    display: flex;
    column-gap: 6px;
    border-radius: 50px;
    justify-content: center;
    padding: 3px 5px;
    font-size: 12px;
    color: rgb(209, 204, 204);
    box-sizing: border-box;
}

.upload-age-button {
    width: 100%;
    padding: 10px 0px;
    border-radius: 10px;
    background-color: #27272a;
    color: hsl(240 5.03% 64.9% / 1);
    border: none;
    font-size: 14px;

}

.font-wirth {
    font-weight: 600;
    /* color: white; */
}

.font-size {
    font-size: 12px;
    margin-bottom: 5px;
}

.plus-iocn-2 {
    font-size: 36px;
    /* font-weight: 500; */
    line-height: 19px;
    margin-bottom: 10px;
}

.Version-main-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding:5px 10px;
    /* background-color: #eeeeee; */
    margin-top: 20px;
    border-radius: 10px;
    justify-content: space-between;
    color: white;
    border: 1px solid rgb(92, 91, 91);
    margin-bottom: 310px;
}

.version-main-left {
    display: flex;
    gap: 10px;
}

.version-text-1 {
    font-size: 14px;
    align-items: center;
    margin-top: 3px;
    color: hsl(240 5.03% 64.9% / 1);
}

.version-star-container {
    border: 3px double transparent;
    background-image: linear-gradient(#242424, #242424), linear-gradient(90deg, #7762ff, #c589e4, #fc6590);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 50px;
    display: flex;
    color: #ffffff;
 

}

.version-star-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
}

.version-star-icon-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: .75rem;
    padding-right: .75rem;
    font-size: 12px;
    color: white;
    gap: 4px;
    font-weight: 500;

}
.version-main-right{
    display: flex;
    gap: 5px;

}




/* responsive layout  yash thorugh*/
@media (max-width: 768px) {
    .left-main-babyG {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    .right-main-babyG {
        display: none;
    }
}